@use './components/button.css';
@use './components/input.css';
@use './components/tabs.css';
@use './components/section.css';
@use './components/forms.css';
@use './components/badge.css';
@use './components/dialog.css';
@use './components/layout.css';
@use './components/navigation.css';
@use './components/preferences.css';
@use './components/feedback.css';
@use './components/widgets.css';
@use './components/bottom-sheet.css';

@use './window.scss';

adw-content {
    padding: 1em;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-basis: 100%;
    flex-shrink: 1;
    gap: 1em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #FAFAFA;
}

adw-header {
    font-weight: 600;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    gap: 0.6em;

    > section {
        padding: 0;
        box-shadow: none;
        width: auto;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: inherit;

        button {
            padding-inline: 0.4em;
            padding-block: 0.4em;
            border-radius: 0.8em;

            img {
                height: 0.9em;
            }
        }
        min-width: 3em;
    }
}



section {
  background: white;
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  gap: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  &.full {
    padding: 0em;
  }

  &.full-width {
    max-width: calc(100% - 2em);
  }

  &[hidden] {
    display: none;
  }
}

adw-icon {
    min-width: 1em;
    min-height: 1em;
    border: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > svg {
        width: 100%;
        height: 100%;
    }
}


adw-view-switcher-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;

    adw-tab {
        user-select: none;
        background-color: transparent;
        border: none;
        border-radius: 1em;
        padding-block: 0.6em;
        padding-inline: 1.2em;
        font-weight: 600;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        font-size: 0.9em;

        > adw-icon {
            font-size: 1.2em;
        }

        &[selected] {
            background-color: #E6E6E6;
        }

        &:hover {
            background-color: #DCDCDC;
            cursor: pointer;
        }
        &:active {
            background-color: #BEBEBE;
        }
    }
}
