
dialog[is="adw-dialog"] {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 1em;
    padding-block: 0.6em;
    padding-inline: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 94vw;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    gap: 0.5em;

    > footer {
        padding-top: 1em;

        &.center {
            margin-inline: auto;
        }
    }
}

dialog[is="adw-dialog"]::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

dialog[is="adw-dialog"][open] {
    display: flex;
    animation: growFromCenter 0.1s ease-out forwards;
    transform-origin: center center;
}

@keyframes growFromCenter {
    from {
        transform: scaleY(0.2);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes shrinkToCenter {
    from {
        transform: scaleY(1);
        opacity: 1;
    }
    to {
        transform: scaleY(0.2);
        opacity: 0;
    }
}
