

form {
    width: 100%;

    &.stack {
        display: flex;
        flex-direction: column;

        > fieldset {
            border: 0;
            padding: 0;
            margin: 0;
            min-inline-size: 0;
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        > p,
        > fieldset > p {
            padding: 0.5em;
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            font-weight: 400;
            font-size: 0.9em;
            justify-content: space-between;
            align-items: center;
        }

        > label,
        > fieldset > label {
            padding: 0.5em;
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            font-weight: 400;
            font-size: 0.9em;
            justify-content: space-between;
            align-items: center;

            border-bottom: 0.1em solid #F0F0F0;

            &::before {
                content: attr(data-label);
                display: inline-block;
                width: 120px;
                font-weight: 500;
                color: #444;
            }

            > input, > select {
                flex-grow: 1;
                flex-shrink: 0;
            }

            > button {
                flex-grow: 0;
                flex-shrink: 0;
            }

            &:last-child{
                border-bottom: none;
            }
        }
    }

    &.wide {
	    > label,
        > p,
        > fieldset > label,
        > fieldset > p {
			&::before {
		        content: attr(data-label);
		        display: inline-block;
		        width: 0;
		        font-weight: 500;
		        color: #444;
		    }
	    }
    }
}
