
section {
  background: white;
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  gap: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  &.full {
    padding: 0em;
  }

  &.full-width {
    max-width: calc(100% - 2em);
  }

  &[hidden] {
    display: none;
  }
}