tab-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;

    button {
        border-radius: 0.4em;
        padding-block: 0.4em;
        padding-inline: 2em;
        background-color: transparent;

        &:active, &.active {
            background-color: #E6E6E6;
        }

        &:hover {
            background-color: #DCDCDC;
            
        }
    }
}

[role="tabpanel"] {
    width: 100%;
}